.list-group{
    list-style: none;
}

.list-group-item{
    padding: 12px 0;
    color: white;
    display: flex;
}

.content{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.item{
    display: flex;
}

.action{
}