.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-content {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-title {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-body {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    direction: rtl;
}

.modal-buttons {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}

.modal-btn {
    border-radius: 20px;
    background-color: rgb(109, 177, 8);
}

.modal-buttons #confirmDeleteButton:hover {
    background-color: crimson;
}

.modal span {
    white-space: pre-wrap;
    text-align: center;
}

.modal .incoming-call-modal-btn{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: rgb(109, 177, 8);
}

/*#answerCall:hover {*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    background: url('../../resources/answer-call-hover-icon.png') no-repeat;*/
/*}*/
