.modal-content{
    height: 35%;
    width: 30%;
}

.modal-wrapper{
    display: flex;
    flex-direction: column;
}

.modal-body{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.modal-buttons{
    display: flex;
    justify-content: center;
}

.modal-title{
    padding-right:22px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(109, 177, 8);
}

.modal button{
    margin: 15px 0 0 0;
    background-color: rgb(109, 177, 8);
}
.modal button:hover{
    background-color: #3e8e41;
}

.modal .field{
    direction: rtl;
}

/*.calender button{*/
/*    margin: 0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

