.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.meetings-table{
    height: 100%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
